extends include/layout.jade

block content
	section.about-us-page
		.container
			.row.center-xs
				.col-xs-8.center-xs
					.heading
						h2 Сильные стороны
							span  и конкурентные преимущества
						hr
			.row.center-xs
				.col-md-3.col-sm-3.col-xs-12
					.tab__block
						.tab__block__image
							img(src="img/people.png", alt="")
						.tab__block__content
							p Более 3000  контактов за 10 лет работы
				.col-md-3.col-sm-3.col-xs-12
					.tab__block
						.tab__block__image
							img(src="img/user.png", alt="")
						.tab__block__content
							p Квалифицированные и опытные инженеры
				.col-md-3.col-sm-3.col-xs-12
					.tab__block
						.tab__block__image
							img(src="img/like.png", alt="")
						.tab__block__content
							p Сжатый срок-высокое качество
				.col-md-3.col-sm-3.col-xs-12
					.tab__block
						.tab__block__image
							img(src="img/chat.png", alt="")
						.tab__block__content
							p Лицензии и отзывы
			.row
				.col-xs-12
					p Наша компания ООО «Пушкино-Трест» работает на территории всех районов Московской области. В Пушкино, Ивантеевке, Щелково, Дмитрове, Сергиевом-Посаде знают нас, как надежного и профессионального партнера.
					p Наша основная специализация – бурение песчаных скважин на воду и обустройство водоснабжения на загородных участках под ключ. Ни один владелец дачного дома или загородного коттеджа не может комфортно существовать без водоснабжения. Вода нужна для технических нужд и для питья. В автомобиле с собой много воды не привезешь. Выбирая между рытьем колодца и бурением скважины, многие домовладельцы предпочитают получить воду из скважины.
					h3 Почему наша компания предлагает бурение<br>песчаной скважины на воду?
					p Это самый экономичный, эффективный и оперативный способ обеспечения водоснабжения загородного дома. У нашей компании огромный опыт по бурению скважин в песке. Мы знакомы со всеми тонкостями этой работы.<br>Наши специалисты найдут оптимальное место для скважины в любой местности, в самых разных условиях. Мы профессионально определимся с необходимой глубиной скважины, обеспечив бесперебойную подачу чистой питьевой воды.
					p Бурение песчаных скважин необходимо поручать только профессионалам. Дилетанты могут пробурить грунт на недостаточную глубину, в результате чего скважина либо будет служить недолго, либо вода будет экологически не безопасной.<br>Наши специалисты оснащены специальными картами, с обозначенными на них районами и глубиной нахождения водоносных слоев. Кроме того, только специалистам известно, на каком уровне трубы устанавливать фильтр. От этого зависит производительность скважины.
					p Мы гарантируем, что наши песчаные скважины будут служить бесперебойно и много лет (от восьми до пятнадцати). Мы предоставляем возможность сервисного обслуживания, поэтому заказчик может рассчитывать на нашу помощь при возникновении поломок или сбоев в работе оборудования.<br>Обратившись в нашу компанию, заказчик может быть уверен, что мы обеспечим его дом водоснабжением в любых условиях. Если участок облагорожен и обнесен забором, мы воспользуемся мобильными установками и организуем работу без малейшего ущерба для ландшафтного дизайна и растительности.<br>После нас на приусадебной территории остается тот же порядок, что и до начала работ. Зато вы получите систему водоснабжения, соответствующую вашим потребностям и возможностям.<br>Мы выполняем весь комплекс работ, необходимых для организации круглогодичного водоснабжения, включающий разведку, бурение скважины, обсадку трубами, установку фильтра, прокачку и обустройство скважины. Завершаем работы мы сдачей объекта. Каждый заказчик получает гарантию и возможность сервисного обслуживания по невысоким расценкам.
					p Заказать бурение скважины в нашей компании – значит, получить систему водоснабжения своего дома или дачи в соответствии с самыми современными требованиями качества и технических норм.
