extends include/layout.jade

block content
	section.articles-page
		.container
			.row.center-xs
				.col-xs-7.center-xs
					.heading
						h2 Наши
							span  Статьи
						hr
			.row
				+article('Инженерная геология – грунты', 'img/article-photo.png', 'Инженерная геология – грунты: строительные свойства и другие важные характеристики.Сегодня уже никто не сомневае тся, что изучение литосферного пласта  земной коры пред началом возведения строительного объекта задача первостепенной важности.')
				+article('Инженерная геология – грунты', 'img/article-photo.png', 'Инженерная геология – грунты: строительные свойства и другие важные характеристики.Сегодня уже никто не сомневае тся, что изучение литосферного пласта  земной коры пред началом возведения строительного объекта задача первостепенной важности.')
				+article('Инженерная геология – грунты', 'img/article-photo.png', 'Инженерная геология – грунты: строительные свойства и другие важные характеристики.Сегодня уже никто не сомневае тся, что изучение литосферного пласта  земной коры пред началом возведения строительного объекта задача первостепенной важности.')
				+article('Инженерная геология – грунты', 'img/article-photo.png', 'Инженерная геология – грунты: строительные свойства и другие важные характеристики.Сегодня уже никто не сомневае тся, что изучение литосферного пласта  земной коры пред началом возведения строительного объекта задача первостепенной важности.')
				+article('Инженерная геология – грунты', 'img/article-photo.png', 'Инженерная геология – грунты: строительные свойства и другие важные характеристики.Сегодня уже никто не сомневае тся, что изучение литосферного пласта  земной коры пред началом возведения строительного объекта задача первостепенной важности.')
				+article('Инженерная геология – грунты', 'img/article-photo.png', 'Инженерная геология – грунты: строительные свойства и другие важные характеристики.Сегодня уже никто не сомневае тся, что изучение литосферного пласта  земной коры пред началом возведения строительного объекта задача первостепенной важности.')
			.row
				.col-xs-12
					.pagination.middle-xs.center-xs
						span Страница
						input(type="text" placeholder="2")
						span из 12
						.left-right
							a.left
								i.icon-left-arrow
							a.right
								i.icon-right-arrow