extends include/layout.jade

block content
	.article-page
		.container
			.row
				.col-md-9
					h2 Инженерная геология - грунты: строительные свойства и другие важные характеристики.
					img(src="img/big-article.png", alt="")
					p Сегодня уже никто не сомневается, что изучение литосферного пласта земной коры пред началом возведения строительного объекта задача первостепенной важности. К сожалению, если Геонадзор обязывает выполнение подобных изысканий крупные строительные организации, то владельцы собственных домов от этого полностью застрахованы. Однако неверное представление о составе почвы на своем участке часто приводит к нарушению надежности и долговечности сооружения и вследствие чего к его преждевременному разрушению, вот почему такая наука как инженерная геология, грунты исследует в первую очередь.
					p Изучить характеристики почвенного состава в домашних условиях не представляется возможным. Для этих целей требуются хорошо оснащенные технические лаборатории, поэтому зачастую заказать подобный вид исследований оказывается единственно верным решением, тем более что проведение подобных изысканий занимает немного времени, да и стоимость достаточно приемлема.
					h3 Особенности лабораторных экспериментов
					p Выполнение основных монтажных работ при строительстве происходит в пласте литосферной коры, это означает, что изучению горных пород должно уделять особое внимание. Поэтому особым разделом для исследований, является инженерная геология – грунты. Благодаря детальному анализу грунтов строители принимают верные решения при возведении объектов, могут определить допустимые конструктивные решения, узнать какой требуется тип фундамента, грамотно подобрать материал для крови, стен, потолков и т.п. Другими словами грамотная геология для проекта во многом зависит от верного определения состава грунта. В специализированных лабораториях изучаются следующие показатели горных пород:
					ul
						li Водонепроницаемость;
						li Прочность;
						li Сопротивляемость к механическим воздействиям;
						li Гранулометрический состав;
						li Коэффициент плотности;
						li Пластичность;
						li И многие другие.
					p Очень важно понимание того, что и окончательная смета зависит от качественных и количественных характеристик грунтов.
					h3 Самые распространенные грунты.
					p На территории России самыми распространенными считаются грунты осадочного происхождения. Это меловые отложения, известняки, пески и т.п., поэтому они играют важную роль в такой дисциплине как инженерная геология: грунты.
					p Стоит отметить, что цена обследования скальных грунтов будет гораздо выше почв глинистого, карбонатного, обломочного, кремниевого и других типов происхождения. Все это также учитывается при составлении окончательной сметы расходов.<br>Немаловажное значение на территории России имеют и метафорические породы, обладающие полнокристаллической структурой. Как правило, яркими представителями таких грунтов являются гнейсы, базальты, кварциты, а также сланцы, имеющие кристаллическую структуру и т.п.<br>Метафорические породы считаются достаточно твердыми образованиями, поэтому для их исследования используется специализированное оборудование, а значит и цена и в целом геодезия для строительства будут несколько выше, так как здесь уже задействуются буровзрывные работы.
					p В компании ООО «Пушкино Трест» подобные изыскания все равно имеют стоимость ниже, чем у конкурентов. Это происходит не в счет снижения качества, а по причинам использования собственного автопарка, большого количества обращений заказчиков, применения роботизированной техники и т.п.
					p Мы можем осуществить изыскания в области инженерная геология быстро и эффективно. Если вам требуются пробы грунта, мы задействуем для этих целей наши аккредитованные грунтовые лаборатории. Также можем прислать точную смету расходов уже на начальном этапе нашего знакомства – просто вышлите техническое задание.
				.col-md-3
					aside.aside
						span Похожие статьи
						.aside__block
							h3 Инженерная геология – грунты
							p Инженерная геология – грунты: строительные свойства и другие важные характеристики. Сегодня уже никто не сомневается, что изучение литосферного пласта земной коры пред началом возведения строительного объекта задача первостепенной важности.
							a(href="#") Читать
						.aside__block
							h3 Инженерная геология – грунты
							p Инженерная геология – грунты: строительные свойства и другие важные характеристики. Сегодня уже никто не сомневается, что изучение литосферного пласта земной коры пред началом возведения строительного объекта задача первостепенной важности.
							a(href="#") Читать
						.aside__block
							h3 Инженерная геология – грунты
							p Инженерная геология – грунты: строительные свойства и другие важные характеристики. Сегодня уже никто не сомневается, что изучение литосферного пласта земной коры пред началом возведения строительного объекта задача первостепенной важности.
							a(href="#") Читать