extends include/layout.jade

block content
	section
		.container
			.row.center-xs
				.col-xs-7.center-xs
					.heading
						h2 Свидетельства
							span  о допусках
						hr
			.row
				.col-xs-12
					p ООО «Пушкина Трест» имеет свидетельство о допуске ко всем видам работ по<br> инженерным изысканиям, в числе которых:
					ul 
						li <i>инженерно-геодезические изыскания;</i>
						li <i>инженерно-геологические изыскания;</i>
						li <i>инженерно-гидрометеорологические изыскания;</i>
						li <i>инженерно-экологические изыскания;</i>
						li <i>инженерно-геотехнические изыскания.</i>
					p <i>Свидетельство ООО «Пушкина Трест» о допуске к работам по выполнению<br> инженерных изысканий № АИИС И-01-1673-21012011.</i>
			.gallery
				.row
					.col-md-3
						a(href="img/doc-1.png")
							img(src="img/doc-1.png", alt="")
					.col-md-3
						a(href="img/doc-2.png")
							img(src="img/doc-2.png", alt="")
					.col-md-3
						a(href="img/doc-3.png")
							img(src="img/doc-3.png", alt="")
					.col-md-3
						a(href="img/doc-4.png")
							img(src="img/doc-4.png", alt="")