extends include/layout.jade

block content
	section.price-page
		.container
			.row.center-xs
				.col-xs-7.center-xs
					.heading
						h2 Цены на
							span  геологические изыскания
						hr
			.row.price-page__row
				.col-xs-12
					p Для небольших строений и коттеджей достаточно 2-3 скважин по 8-12 метров.
					p Точный расчет на геологические изыскания для домов, коттеджей и небольшых построек<br> Вы можете получать у наших специалистов по тел.: <b>8 495 201 13 12</b>
				.col-md-4.col-sm-4.col-xs-12.price-page__row__block.center-xs
					img(src="img/price-1.png", alt="")
					p 2 скважины по 8 метров
						span  <b>31 000</b> руб
					p 2 скважины по 10 метров
						span  <b>33 000</b> руб
					p 2 скважины по 12 метров
						span  <b>36 000</b> руб
				.col-md-4.col-sm-4.col-xs-12.price-page__row__block.center-xs
					img(src="img/price-2.png", alt="")
					p 3 скважины по 8 метров
						span  <b>31 000</b> руб
					p 3 скважины по 10 метров
						span  <b>33 000</b> руб
					p 3 скважины по 12 метров
						span  <b>36 000</b> руб
				.col-md-4.col-sm-4.col-xs-12.price-page__row__block.center-xs
					img(src="img/price-3.png", alt="")
					p 4 скважины по 8 метров
						span  <b>31 000</b> руб
					p 4 скважины по 10 метров
						span  <b>33 000</b> руб
					p 4 скважины по 12 метров
						span  <b>36 000</b> руб
				.col-md-4.col-sm-4.col-xs-12.price-page__row__block.center-xs
					img(src="img/price-4.png", alt="")
					p 5 скважины по 8 метров
						span  <b>31 000</b> руб
					p 5 скважины по 10 метров
						span  <b>33 000</b> руб
					p 5 скважины по 12 метров
						span  <b>36 000</b> руб
			.row.center-xs
				.col-xs-7.center-xs
					.heading
						h2 Цены на
							span  геодезию
						hr
			.row
				.col-xs-12
					h4 Цены инженерно-геодезических изысканий для некоторых типовых объектов
					table
						tr
							th Виды работ
							th Примечание
							th Стоимость
						tr
							td Топографические съемки масштаб 1:200 (для ландшафтного проектирования)
							td участок от 50 соток и более
							td от 500 руб./сотка
						tr
							td Топографические съемки масштаб 1:200 (для ландшафтного проектирования)
							td участок от 50 соток и более
							td от 14.000 руб./участок
						tr
							td Топографические съемки масштаб 1:500	
							td поля от 10 га
							td от 6.000 руб. /га
						tr
							td Топографические съемки масштаб 1:500	
							td участок до 0.5 га
							td до 12.000 руб./участок
						tr
							td Топографические съемки масштаб 1:500 под строительство и изыскания
							td участок до 10 га
							td от 15.000 руб./га
					table
						tr
							th Виды работ
							th Цена (руб.)
							th Ед.изм.
							th Примечание
						tr
							td Топографическая съемка М1:500 (земельный участок)
							td 800.00 руб.
							td 100 кв.м
							td Для физических лиц
						tr
							td Топографическая съемка М1:200 (земельный участок)
							td 1,000.00 руб.
							td 100 кв.м
							td Для физических лиц
						tr
							td Топографическая съемка М1:500 незастроенная территория
							td 8,000.00 руб.
							td 1 га
							td Для юридических лиц (Новая Москва<br> коэффициент — 1,4;<br> Москва коэффициент 2,0)
			.row.center-xs
				.col-xs-7.center-xs
					.heading
						h2 Цены на
							span  экологию
						hr
			.row
				.col-xs-12
					h4 Цены инженерно-геодезических изысканий для некоторых типовых объектов
					table
						tr
							th Виды работ
							th Примечание
							th Стоимость
						tr
							td Топографические съемки масштаб 1:200 (для ландшафтного проектирования)
							td участок от 50 соток и более
							td от 500 руб./сотка
						tr
							td Топографические съемки масштаб 1:200 (для ландшафтного проектирования)
							td участок от 50 соток и более
							td от 14.000 руб./участок
						tr
							td Топографические съемки масштаб 1:500	
							td поля от 10 га
							td от 6.000 руб. /га
						tr
							td Топографические съемки масштаб 1:500	
							td участок до 0.5 га
							td до 12.000 руб./участок
						tr
							td Топографические съемки масштаб 1:500 под строительство и изыскания
							td участок до 10 га
							td от 15.000 руб./га
